.link-button{
 text-align: center;
 text-decoration: none;
 background-image: linear-gradient(50deg, rgb(27, 228, 27), rgb(13, 244, 248),rgb(243, 7, 70));
 padding: 10px 20px;
 border-radius: 7px;
 color: white;
 float: 800;
}
.ooo {
 color: crimson;
}
.nnn {
 color: aqua;
 text-align: center;
}
.aaa {
 text-align: center;
 color: aquamarine;
}
.bbb {
 text-align: center;
 color: cadetblue;
}
.yyy {
 text-align: center;
 color: darkcyan;
}
.uuu {
 text-align: center;
 color: mediumslateblue;
}
.mmm {
 text-align: center;
 color: olive;
}
.lll {
 text-align: center;
 color: olivedrab;
}
.sss {
 text-align: center;
 color: steelblue;
}
.ppp {
 text-align: center;
 color: lightskyblue;
}
.link-butto{
 text-align: center;
 text-decoration: none;
 background-image: linear-gradient(50deg, rgb(235, 143, 23), rgba(15, 162, 246, 0.588),rgb(234, 12, 230));
 padding: 10px 20px;
 border-radius: 7px;
 color: white;
 float: 800;
}
.container {
 color: mediumvioletred;
}